<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <display-name>Antioch Student Management</display-name>
    <description>Antioch Student Management</description>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.bayon.web.security.filter.SecurityFilter</filter-class>
        <!-- security configuration -->
        <init-param>
            <param-name>login-page</param-name>
            <param-value>/login</param-value>
        </init-param>
        <init-param>
            <param-name>default-page</param-name>
            <param-value>/student/list</param-value>
        </init-param>
        <init-param>
            <param-name>exclude-uri</param-name>
            <param-value>/login,/_ah/admin</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>frontCommand</servlet-name>
        <servlet-class>com.camhub.antiochschool.FrontServletImp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>frontCommand</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>