<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <display-name>Antioch Student Management</display-name>
    <description>Antioch Student Management</description>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.bayon.web.security.filter.SecurityFilter</filter-class>
        <!-- security configuration -->
        <init-param>
            <param-name>login-page</param-name>
            <param-value>/login</param-value>
        </init-param>
        <init-param>
            <param-name>default-page</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>exclude-uri</param-name>
            <param-value>/login,/_ah/admin,/_admin,/_ah/login</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>imagesCache</filter-name>
        <filter-class>org.bayon.cache.proxy.filter.CacheProxyFilter</filter-class>
        <init-param>
            <param-name>expiration</param-name>
            <param-value>2592000</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>cssCache</filter-name>
        <filter-class>org.bayon.cache.proxy.filter.CacheProxyFilter</filter-class>
        <init-param>
            <param-name>expiration</param-name>
            <param-value>604800</param-value>
        </init-param>
        <init-param>
            <param-name>vary</param-name>
            <param-value>Accept-Encoding</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>jsCache</filter-name>
        <filter-class>org.bayon.cache.proxy.filter.CacheProxyFilter</filter-class>
        <init-param>
            <param-name>expiration</param-name>
            <param-value>216000</param-value>
        </init-param>
        <init-param>
            <param-name>private</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>imagesCache</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>imagesCache</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>cssCache</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>jsCache</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>frontCommand</servlet-name>
        <servlet-class>com.camhub.antiochschool.FrontServletImp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>frontCommand</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminTask</servlet-name>
        <servlet-class>com.camhub.antiochschool.admin.AdminTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminTask</servlet-name>
        <url-pattern>/_admin</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>adminTask</web-resource-name>
            <url-pattern>/_admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>